@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.about_add_btns i{
    color: #fff;
    font-size: 18px;
    float: left;
    margin-top: 8px;
}
.about_add_btns p{
    color: #fff;
    font-size: 18px;
    float: left;
    margin-left: 1%;
    margin-top: 8px;
    font-weight: bold;

}
.about-box-area{
	width: 75%;
	height: 550px;
	float: left;
	
	margin-top: 15px;
	margin-left: 3%;
}
.about-box-area .about-box-left{
    width: 70%;
    height: 480px;
    float: left;
    
}
.about-box-left h2{
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	float: left;
}
.about-box-left p{
    font-size: 17px;
    word-spacing: 2px;
    float: left;
    line-height: 25px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}
.about-box-area .about-box-right{
    width: 30%;
    height: 480px;
    float: right;
    background-color: blue;
}
.about-box-right{
	background-repeat: no-repeat;
	background-size:100% 100%;
}
.about-box-area .about-box-btns button{
    width: 100%;
    height:auto;
    float: left;
    border:1px solid black;
    word-spacing: 2px;
    padding-top: 25px;
    margin-top: 5px;
    padding-bottom: 25px;
    font-size: 18px;
    outline: none;
    background-color: rgb(255, 255, 255);
}
.about-box-btns button:hover{
    border:1px solid rgb(154, 230, 42);
}
.file_text {
	width: 75%;
    padding: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgb(11, 53, 7);
    color: #fff;
	text-align: center;
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.file_text input {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0
}